* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}
ul a,
ol a {
  text-decoration: none;
}

h2 {
  padding: 20px;
  display: flex;
  justify-content: center;
  color: #5e548e;
}

.titulo-importante {
  font-size: 20px;
  font-weight: 540;
}

.h2-index {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.seccion-recetas-index {
  text-align: justify;
  background-size: cover;
  background-image: url("../../../img/perro-premio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
}

.articulos-index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: justify;
  padding: 5px;
}

.articulo {
  grid-column: span 3;
  padding: 15px;
}

.img-imagen {
  display: grid;
  grid-column: span 3;
  margin: 0;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.seccion-contenido {
  text-align: justify;
  padding: 30px;
  background-size: cover;
  background-image: url("../../../img/tres-perros.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.fondo-letra {
  background-color: rgba(206, 145, 255, 0.6352941176);
  border-radius: 10px;
  padding: 5px;
}

@media (min-width: 1200px) {
  .articulos-index {
    display: flex;
  }
}
.titulo-recetas {
  text-align: center;
  font-size: 2rem;
  background-size: cover;
  background-image: url("../../../img/perro-lengua.jpg");
  background-position: center;
  padding: 2em 1em;
  border-radius: 20px;
  border: solid 10px white;
}

.seccion-receta {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 4fr;
  grid-template-areas: "lspace texto texto rspace" "lspace texto texto rspace" "img img img img";
  gap: 5px;
}

.texto-recetas {
  display: grid;
  grid-area: texto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 3fr;
  grid-template-areas: "titulo" "ingredientes" "pasos";
  gap: 5px;
  align-content: space-around;
}

.titulo-comida {
  display: grid;
  grid-area: titulo;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.section-ingredientes {
  display: grid;
  grid-area: ingredientes;
  align-content: center;
  justify-items: center;
}

.section-pasos {
  display: grid;
  grid-area: pasos;
  align-content: center;
  justify-items: center;
}

.img-insta {
  display: grid;
  grid-area: img;
  align-content: center;
  justify-content: center;
}

@media (min-width: 1200px) {
  .seccion-receta {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "texto texto img" "texto texto img";
    gap: 5px;
  }
  .texto-recetas {
    display: grid;
    grid-area: texto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "titulo titulo" "ingredientes pasos";
    gap: 5px;
    align-content: space-around;
  }
  .titulo-comida {
    align-items: center;
  }
}
.tips-servicios {
  text-align: center;
  font-size: 2rem;
  background-size: cover;
  background-image: url("../../../img/perro-fondo.jpg");
  background-position: center;
  padding: 2em 1em;
  border-radius: 20px;
  border: solid 10px white;
}

.cap-card {
  font-weight: bold;
  padding: 5px;
}

.descripcion-tip {
  color: #5e548e;
  font-size: 1rem;
  padding: 1em;
  text-align: justify;
}

.imagen-articulo {
  padding: 1em;
}

.tamanio-img {
  width: 100%;
}

.figure-caption {
  text-align: center;
  font-style: italic;
  color: #231942;
}

@media (min-width: 1200px) {
  .servicios {
    display: flex;
    justify-content: center;
  }
  .tamanio-img {
    height: 700px;
  }
  .tips {
    padding: 2em 1em;
    border-radius: 20px;
    border: solid 10px white;
  }
}
.nosotros {
  text-align: center;
  font-size: 2rem;
  background-size: cover;
  background-image: url("../../../img/juegos-interactivos.jpg");
  background-position: center;
  padding: 2em 1em;
  border-radius: 20px;
  border: solid 10px white;
}
.nosotros-art {
  border: solid 10px white;
  text-align: center;
}
.nosotros-titulo {
  padding: 10px;
}
.nosotros-img-tamanio {
  height: 300px;
}

@media (min-width: 1200px) {
  .nosotros-art {
    padding: 2em 2em;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 400px;
    grid-template-areas: "texto imagen";
    align-items: center;
  }
  .nosotros-art-texto {
    display: grid;
    grid-area: texto;
  }
  .nosotros-art-img {
    display: grid;
    grid-area: imagen;
    justify-items: center;
  }
  .nosotros-art-img-tamanio {
    height: 300px;
  }
}
.seccion-contacto {
  padding: 20px;
  justify-content: center;
}

.visit {
  text-align: justify;
}

.ubicacion {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.form-linea {
  display: flex;
  padding: 5px;
  justify-content: center;
}

.boton-centro {
  display: flex;
  padding: 5px;
  justify-content: center;
}

.header {
  color: #231942;
  display: grid;
  grid-template-columns: repeat 5, 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-template-areas: "lspace header header icon rspace" "lspace nav nav nav rspace";
  gap: 10px;
  padding: 10px;
}
.header-titulo {
  color: #5e548e;
  font-weight: bold;
  display: flex;
  grid-area: header;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.header-icon {
  display: flex;
  grid-area: icon;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.header-icon-img {
  width: 40px;
}
.header-nav {
  background-color: #e0b1cb;
  border-radius: 15px;
  color: #231942;
  display: flex;
  grid-area: nav;
  justify-content: center;
}
.header-nav-lista {
  margin: 0;
  padding-left: 0;
}
.header-nav-lista-item {
  text-decoration: none;
  color: #5e548e;
  display: grid;
  align-items: center;
  justify-items: center;
}
.header-nav-lista-seleccion {
  background-color: #be95c4;
  border-radius: 15px;
  color: #473f69;
  display: grid;
  align-items: center;
  justify-items: center;
}
.header-busqueda {
  display: none;
}

@media (min-width: 1200px) {
  .header {
    padding: 25px;
    display: flex;
    justify-content: space-between;
  }
  .header-titulo {
    color: #5e548e;
  }
  .header-nav {
    background-color: #e0b1cb;
    border-radius: 10px;
    color: #231942;
    font-weight: bold;
    gap: 20px;
  }
  .header-nav-lista {
    display: flex;
  }
  .header-nav-lista-item {
    color: #5e548e;
    font-weight: bold;
    justify-content: space-around;
    display: flex;
    padding: 15px;
  }
  .header-nav-lista-seleccion {
    background-color: #be95c4;
    color: #473f69;
    border-radius: 10px;
    display: flex;
    padding: 15px;
  }
  .header-busqueda {
    display: flex;
    align-items: center;
  }
}
.footer {
  justify-content: space-between;
  padding: 30px;
}

.redes {
  padding: 5px;
  color: #be95c4;
}

.pie-pagina {
  padding: 5px;
  color: #473f69;
}

.foot-titles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot-items-r {
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.foot-items {
  display: flex;
  justify-content: space-around;
}

.logo {
  display: grid;
  justify-content: center;
}

.icon-huella-foot {
  width: 90px;
  margin-left: 1.5em;
}

.derechos {
  margin-top: 1em;
}

.r-item {
  display: none;
}

@media (min-width: 1200px) {
  .footer {
    display: flex;
  }
  .redes {
    padding: 10px;
    display: grid;
  }
  .r-item {
    display: flex;
    align-items: center;
  }
  .pie-pagina {
    padding: 10px;
    display: grid;
  }
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  .foot-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template: repeat(2, fr);
  }
  .item-footer {
    grid-column: span 2;
    display: flex;
    justify-content: center;
  }
}
.card-tips {
  font-size: 1rem;
  padding: 0.5em;
  display: flex;
  align-items: center;
  text-align: justify;
}

.texto-card {
  font-size: 1rem;
  padding: 0.5em;
}

.card-icon {
  background-color: rgba(206, 145, 255, 0.6352941176);
  min-width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icon i {
  font-size: 1.8rem;
  color: #473f69;
}

.servicios-card {
  background-color: rgba(206, 145, 255, 0.6352941176);
  background-position: center;
  padding: 1em 1em;
  border-radius: 20px;
  border: solid 10px white;
  text-align: center;
  font-weight: solid;
}

.puntos {
  list-style-type: circle;
}

.caja {
  background-color: #e0b1cb;
  border-radius: 5px;
  border-style: unset;
  border-color: black;
  padding: 15px;
  font-weight: 600;
  gap: 50px;
}

.boton {
  background-color: #be95c4;
  color: black;
  border-radius: 5px;
  border-style: unset;
  border-color: black;
  padding: 15px;
  font-weight: 600;
}
.boton:hover {
  background-color: #5e548e;
}

/*# sourceMappingURL=style.css.map */
