.caja{
    background-color:$color-complementario;
    border-radius: 5px;
    border-style:unset;
    border-color: black;
    padding: 15px;
    font-weight: 600;
    gap: 50px;
}

.boton{
    background-color:$color-terciario;
    color: black;
    border-radius: 5px;
    border-style:unset;
    border-color: black;
    padding: 15px;
    font-weight: 600;

    &:hover{
        background-color: $color-primario;
    }
}