.footer {
    justify-content: space-between;
    padding: 30px;

    &-redes {
        padding: 5px;
        color: #be95c4;

        &-titulo {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-lista {
            padding: 5px;
            display: flex;
            justify-content: space-around;

            &-item {
                display: none;
            }
        }
    }

    &-pie {
        padding: 5px;
        color: #473f69;

        &-titulo {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-lista {
            margin: 0;
            display: flex;
            justify-content: space-around;

            &-item {
                padding: 2px;
            }

            &-itemd {
                padding: 2px;
            }
        }
    }

    &-logo {
        display: grid;
        justify-content: center;

        &-img {
            width: 90px;
            margin-top: 5px;
            margin-left: 1.5em;
        }

        &-derechos {
            margin-top: 1em;
        }
    }
}

@media(min-width: 1200px) {
    ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    .footer {
        display: flex;

        &-redes {
            padding: 10px;
            display: grid;

            &-lista {
                padding: 10px;

                &-item {
                    display: flex;
                    align-items: center;
                }
            }
        }

        &-pie {
            padding: 10px;
            display: grid;

            &-lista {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template: repeat(2, fr);

                &-itemd{
                    grid-column: span 2;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}