.header {
    color: #231942;
    display: grid;
    grid-template-columns: repeat (5, 1fr);
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "lspace header header icon rspace"
        "lspace nav nav nav rspace";
    gap: 10px;
    padding: 10px;

    &-titulo {
        color: #5e548e;
        font-weight: bold;
        display: flex;
        grid-area: header;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    &-icon {
        display: flex;
        grid-area: icon;
        align-items: center;
        justify-content: center;
        margin: 0;

        &-img {
            width: 40px;
        }
    }

    &-nav {
        background-color: #e0b1cb;
        border-radius: 15px;
        color: #231942;
        display: flex;
        grid-area: nav;
        justify-content: center;

        &-lista {
            margin: 0;
            padding-left: 0;

            &-item {
                text-decoration: none;
                color: #5e548e;
                display: grid;
                align-items: center;
                justify-items: center;
            }

            &-seleccion {
                background-color: #be95c4;
                border-radius: 15px;
                color: #473f69;
                display: grid;
                align-items: center;
                justify-items: center;
            }
        }
    }

    &-busqueda {
        display: none;
    }
}

@media(min-width: 1200px) {
    .header {
        padding: 25px;
        display: flex;
        justify-content: space-between;

        &-titulo {
            color: #5e548e;
        }

        &-nav {
            background-color: #e0b1cb;
            border-radius: 10px;
            color: #231942;
            font-weight: bold;
            gap: 20px;

            &-lista {
                display: flex;

                &-item {
                    color: #5e548e;
                    font-weight: bold;
                    justify-content: space-around;
                    display: flex;
                    padding: 15px;
                }

                &-seleccion {
                    background-color: #be95c4;
                    color: #473f69;
                    border-radius: 10px;
                    display: flex;
                    padding: 15px;
                }
            }
        }

        &-busqueda {
            display: flex;
            align-items: center;
        }
    }
}