.seccion-contacto {
    padding: 20px;
    justify-content: center;
}

.visit{
    text-align: justify;
}

.ubicacion {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.form-linea{
    display: flex;
    padding: 5px;
    justify-content: center;
}

.boton-centro{
    display: flex;
    padding: 5px;
    justify-content: center;
}