.contacto {
    padding: 50px;
    justify-content: center;

    &-visitanos{
        text-align: justify;

        &-ubicacion {
            padding: 20px;
            display: flex;
            justify-content: center;
        }
    }

    &-seccion{

        &-formulario{

            &-input{
                display: flex;
                padding: 5px;
                justify-content: center;
            }

            &-boton{
                display: flex;
                padding: 5px;
                justify-content: center;
            }
        }
    }
}