.nosotros {
    text-align: center;
    font-size: 2rem;
    background-size: cover;
    background-image: url("../../../img/juegos-interactivos.jpg");
    background-position: center;
    padding: 2em 1em;
    border-radius: 20px;
    border: solid 10px white;
}

.seccion-nosotros {
    border: solid 10px white;
    text-align: center;
}

.titulo{
    padding: 10px;
}