.nosotros {
    text-align: center;
    font-size: 2rem;
    background-size: cover;
    background-image: url("../../../img/juegos-interactivos.jpg");
    background-position: center;
    padding: 2em 1em;
    border-radius: 20px;
    border: solid 10px white;

    &-art {
        border: solid 10px white;
        text-align: center;
    }

    &-titulo {
        padding: 10px;
    }

    &-img-tamanio {
        height: 300px;
    }
}

@media(min-width: 1200px) {
    .nosotros-art {
        padding: 2em 2em;
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-template-rows: 400px;
        grid-template-areas: "texto imagen";
        align-items: center;

        &-texto {
            display: grid;
            grid-area: texto;
        }

        &-img {
            display: grid;
            grid-area: imagen;
            justify-items: center;

            &-tamanio{
                height: 300px;
            }
        }
    }

}