.titulo-recetas {
    text-align: center;
    font-size: 2rem;
    background-size: cover;
    background-image: url("../../../img/perro-lengua.jpg");
    background-position: center;
    padding: 2em 1em;
    border-radius: 20px;
    border: solid 10px white;
}

.receta {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 3fr;
    grid-template-areas: "lspace texto texto rspace"
        "lspace texto texto rspace"
        "img img img img";
    gap: 5px;

    &-texto{
        display: grid;
        grid-area: texto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 3fr;
        grid-template-areas: "titulo"
            "ingredientes"
            "pasos";
        gap: 5px;
        align-content: space-around;

        &-titulo {
            display: grid;
            grid-area: titulo;
            align-content: center;
            justify-content: center;
            text-align: center;
        }

        &-ingredientes {
            display: grid;
            grid-area: ingredientes;
            align-content: start;
            justify-items: center;
        }

        &-pasos {
            display: grid;
            grid-area: pasos;
            align-content: start;
            justify-items: center;
        }
    }

    &-img {
        display: grid;
        grid-area: img;
        align-content: center;
        justify-content: center;
    }
}

@media(min-width: 1200px) {
    .receta {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "texto texto img"
            "texto texto img";
        gap: 5px;

        &-texto{
            display: grid;
            grid-area: texto;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 2fr;
            grid-template-areas: "titulo titulo"
                "ingredientes pasos";
            gap: 5px;
            align-content: space-around;

            &-titulo{
                align-items: center;
            }
        }
    }
}