.tips-servicios {
    text-align: center;
    font-size: 2rem;
    background-size: cover;
    background-image: url("../../../img/perro-fondo.jpg");
    background-position: center;
    padding: 2em 1em;
    border-radius: 20px;
    border: solid 10px white;
}

.cap-card {
    font-weight: bold;
    padding: 5px;
}

.descripcion-tip {
    color: #5e548e;
    font-size: 1rem;
    padding: 1em;
    text-align: justify;
}

.imagen-articulo {
    padding: 1em;
}

.tamanio-img {
    width: 100%;
}

.figure-caption {
    text-align: center;
    font-style: italic;
    color: #231942;
}

@media(min-width: 1200px) {
    .servicios {
        display: flex;
        justify-content: center;
    }

    .tamanio-img {
        height: 700px;
    }

    .tips {
        padding: 2em 1em;
        border-radius: 20px;
        border: solid 10px white;
    }
}