.tys-h2 {
    text-align: center;
    font-size: 2rem;
    background-size: cover;
    background-image: url("../../../img/perro-fondo.jpg");
    background-position: center;
    padding: 2em 1em;
    border-radius: 20px;
    border: solid 10px white;
}

.servicios {

    &-tarjeta {

        &-img {
            width: 100%;
        }

        &-cap {
            font-weight: bold;
            padding: 5px;
        }
    }
}

.tips {

    &-articulos {

        &-descripcion {
            color: $color-primario;
            font-size: 1rem;
            padding: 1em;
            text-align: justify;
        }

        &-figura{
            padding: 1em;

            &-img{
                width: 100%;
            }

            &-caption {
                text-align: center;
                font-style: italic;
                color: $color-secundario;
            }
        }
    }
}

@media(min-width: 1200px) {
    .servicios {
        display: flex;
        justify-content: center;

        &-tarjeta {

            &-img {
                height: 700px;
            }
        }
    }

    .tips {
        padding: 2em 1em;
        border-radius: 20px;
        border: solid 10px white;

        &-articulos{

            &-figura{

                &-img{
                    height: 700px;
                }
            }
        }
    }
}