* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

$color-primario: #5e548e;
$color-secundario: #231942;
$color-terciario: #be95c4;
$color-cuaternario: #473f69;
$color-complementario: #e0b1cb;

ul,
ol {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $color-primario;
}

h2 {
    padding: 20px;
    display: flex;
    justify-content: center;
    color: $color-primario;
}
